*.log
*.ipch
*.sdf
*.opensdf
*.suo
*.obj
*.tlog
*.pdb
Libraries/Common.lib
*.pch
*.map
*.exe

.vs/
Common/Release/
ConnectServer/Release/
Game/Release/
LoginServer/Release/
Server_Link/Release/

Release/ConnectServer.iobj
Release/ConnectServer.ipdb
